@{
    ViewBag.Title = "Index";
}
<div id="container">
<table class="table-bordered">
    <thead>
        <tr>
            <th>Number @Html.ActionLink(" ", "OrderTasks", "Home", new { prop = "Id" }, new { @class= "glyphicon glyphicon-chevron-down" })</th>
            <th>Userid @Html.ActionLink(" ", "OrderTasks", "Home", new { prop = "UserId" }, new { @class = "glyphicon glyphicon-chevron-down" })</th>
            <th>Description @Html.ActionLink(" ", "OrderTasks", "Home", new { prop = "Description" }, new { @class = "glyphicon glyphicon-chevron-down" })</th>
            <th>Data @Html.ActionLink(" ", "OrderTasks", "Home", new { prop = "Data" }, new { @class = "glyphicon glyphicon-chevron-down" })</th>
            <th>Priority @Html.ActionLink(" ", "OrderTasks", "Home", new { prop = "Priority" }, new { @class = "glyphicon glyphicon-chevron-down" })</th>
            <th>Completed @Html.ActionLink(" ", "OrderTasks", "Home", new { prop = "IsCompleted" }, new { @class = "glyphicon glyphicon-chevron-down" })</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in ViewBag.Tasks)
        {
            <tr>
                <td>@t.Id</td>
                <td>@t.UserId</td>
                <td>@t.Description</td>
                <td>@t.Data</td>
                <td>@t.Priority</td>
                @if (t.IsComplete)
                {
                    <td><input type="checkbox" checked="checked"></td>
                }
                else
                {
                    <td><input type="checkbox" /></td>
                }
            </tr>
        }
    </tbody>
</table>
@using (Html.BeginForm("AddTask", "Home", FormMethod.Post))
{
    <input type="text" name="description" />
    @Html.TextBox("data", "¬ведите дату", new { @type = "date" })
    @Html.TextBox("priority", "¬ведите номер", new { @type = "number" })
    <input type="submit">
}
</div>