@model Table.Models.Task
@{
    ViewBag.Title = "Index";
}
<div id="container">
<table style="width: 100%">
    <thead>
        <tr>
            <th>Number @Html.ActionLink("+", "OrderTasks", "Home", new { prop = "Id" }, null)</th>
            <th>Userid @Html.ActionLink("+", "OrderTasks", "Home", new { prop = "UserId" }, null)</th>
            <th>Description @Html.ActionLink("+", "OrderTasks", "Home", new { prop = "Description" }, null)</th>
            <th>Data @Html.ActionLink("+", "OrderTasks", "Home", new { prop = "Data" }, null)</th>
            <th>Priority @Html.ActionLink("+", "OrderTasks", "Home", new { prop = "Priority" }, null)</th>
            <th>Completed @Html.ActionLink("+", "OrderTasks", "Home", new { prop = "IsCompleted" }, null)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in ViewBag.Tasks)
        {
            <tr>
                <td>@t.Id</td>
                <td>@t.UserId</td>
                <td>@t.Description</td>
                <td>@t.Data</td>
                <td>@t.Priority</td>
                <td>@t.IsComplete</td>
            </tr>
        }
    </tbody>
</table>
@using (Html.BeginForm("AddTask", "Home", FormMethod.Post))
{
    @Html.TextBox("id", "¬ведите номер", new { @type = "number" })
    @Html.TextBox("userid", "¬ведите номер", new { @type = "number" })
    <input type="text" name="description" />
    @Html.TextBox("data", "¬ведите дату", new { @type = "date" })
    @Html.TextBox("priority", "¬ведите номер", new { @type = "number" })
    @Html.CheckBox("iscompleted", false)
    <input type="submit">
}
</div>