@section Header{
    <header class="row">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p class="navbar-brand">Task-manager</p>
                </div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Профиль", "MoveToPage", "Home", new { page = "Home" }, new { })</li>
                    <li>@Html.ActionLink("Задачи", "MoveToPage", "Home", new { page = "Tasks" }, new { })</li>
                    <li>@Html.ActionLink("О нас", "MoveToPage", "Home", new { page = "About" }, new { })</li>
                    <li>@Html.ActionLink("Контакты", "MoveToPage", "Home", new { page = "Contacts" }, new { })</li>
                </ul>
                @if (ViewBag.UserLogin == "")
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li data-toggle="modal" data-target="#myModal"><a href="#"><span class="glyphicon glyphicon-user"></span>Регистрация</a></li>
                        <li data-toggle="modal" data-target="#login_modal"><a href="#"><span class="glyphicon glyphicon-log-in"></span>Войти</a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li onclick="MoveToHomePage()"><a href="#"><span class="glyphicon glyphicon-user"></span>@ViewBag.UserLogin</a></li>
                        <li data-toggle="modal" data-target="#exit_modal"><a href="#"><span class="glyphicon glyphicon-log-out"></span>Выйти</a></li>
                    </ul>
                }
            </div>
        </nav>
        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4" id="logo-holder">
            <img src="~/Content/images/logo.png" id="logo" alt="logo" />
        </div>
        <div class="col-md-6 col-sm-4 col-xs-12 col-lg-6" id="slogan-holder">
            <h1>Менеджер задач</h1>
            <h3>Простой и удобный инструмент управления временем</h3>
        </div>
        <!--Social buttons
            <div class="col-md-3 col-sm-4 col-xs-12 col-lg-3" id="auth_box">
            <a class="btn btn-social-icon btn-facebook">
                <span class="fa fa-facebook"></span>
            </a>
            <a class="btn btn-social-icon btn-twitter">
                <span class="fa fa-twitter"></span>
            </a>
            <a class="btn btn-social-icon btn-vk">
                <span class="fa fa-vk"></span>
            </a>
            <a class="btn btn-social-icon btn-odnoklassniki">
                <span class="fa fa-odnoklassniki"></span>
            </a>
            <a class="btn btn-social-icon btn-google">
                <span class="fa fa-google"></span>
            </a>
            <p>Sign in by your favourite social network</p>
        </div>
        -->
    </header>
}
@section Footer{
    <footer class="row navbar-inverse">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 contact-info">
            Контакты: 98sancho@ukr.net
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 copyright">
            © Александр Ярошенко | КА "ШАГ" 2016
        </div>
    </footer>
}
<link rel="stylesheet" href="~/Content/animate.css"/>
<script src="~/scripts/wow.min.js"></script>
<script>new WOW().init();</script>
<section class="row" id="info-section">
    <div id="slider">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="img-responsive" src="~/Content/images/task.jpg" alt="Chania">
                </div>

                <div class="item">
                    <img class="img-responsive" src="~/Content/images/task.jpg" alt="Chania">
                </div>

                <div class="item">
                    <img class="img-responsive" src="~/Content/images/task.jpg" alt="Flower">
                </div>

                <div class="item">
                    <img class="img-responsive" src="~/Content/images/task.jpg" alt="Flower">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 desc-box">
            <img class="col-md-6 col-lg-6 col-sm-6 col-xs-12 img-responsive bounceInLeft wow desc-img"
                 data-wow-delay="0.5s" data-wow-duration="1s"
                 src="~/Content/images/task.jpg" alt="task" />

            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <h3 class="desc-header fadeInUp wow"data-wow-delay="0.5s" data-wow-duration="1.5s">
                    Управление задачами
                </h3>
                <div class="desc-text fadeInUp wow" data-wow-delay="1s" data-wow-duration="1.5s">
                    Вы можете добавлять ваши задачи мгновенно, задавать им приоритеты и термины выполнения,
                    используя вашу любимую методику.
                    Персональный менеджер задач поможет вам стать еще продуктивнее.
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 desc-box-inverse">
            <div class="col-md-6 col-lg-6 col-sm-6 desc-text wow fadeInUp" data-wow-delay="1s" data-wow-duration="1.5s">
                <h3 class="desc-header wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s">
                    3 в 1
                </h3>
                3 режима отображения ваших задач позволят вам самим выбрать самую эффективную методику управления делами.
                Комбинируйте их для получения максимальной эффективности вашего планирования.
            </div>
            <ul class="col-md-6 col-lg-6 col-sm-6 desc-list">
                <li class="wow bounceInRight" data-wow-delay="2s"><span class="glyphicon glyphicon-check"></span>TO-DO List</li>
                <li class="wow bounceInRight" data-wow-delay="2.5s"><span class="glyphicon glyphicon-check"></span>Matrix mode</li>
                <li class="wow bounceInRight" data-wow-delay="3s"><span class="glyphicon glyphicon-check"></span>Calendar</li>
            </ul>
        </div>

        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 desc-box">
            <div class="col-md-6 col-lg-6 col-sm-6 desc-text fadeInUp wow" data-wow-delay="1s" data-wow-duration="1.5s">
                <h3 class="desc-header fadeInUp wow" data-wow-delay="0.5s" data-wow-duration="1.5s">
                    Ваша эффективность
                </h3>
                В окне профиля вы можете просмотреть свою статистику в виде инфографики и
                настроить рассылку планов(ежедневных или еженедельных) на ваш почтовый ящик.
            </div>
            <img class="col-md-6 col-lg-6 col-sm-6 col-xs-12 img-responsive bounceInRight wow desc-img"
                 data-wow-delay="0.5s" data-wow-duration="1s" src="~/Content/images/task.jpg" alt="task" />
        </div>

        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 desc-box-inverse">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 desc-text wow fadeInUp" data-wow-delay="1s" data-wow-duration="1.5s">
                <h3 class="col-md-12 col-lg-12 col-sm-12 desc-header wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s">
                    Ипользуйие по максимуму
                </h3>
                 Используя все функции Персонального менеджера задач вы сможете
                повысить свою эффективность в управлении вашими делами.
            </div>
        </div>

        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 desc-button-holder">
                <h3 class="desc-header fadeInUp wow" data-wow-delay="0.5s" data-wow-duration="1.5s">
                    Начните работу прямо сечас
                </h3>
                <button type="button" class="btn btn-default btn-lg" id="register_button" data-toggle="modal" data-target="#myModal">Regiter now</button>
    </div>
</section>