@{
    ViewBag.Title = "Index";
}
<div id="container">
    @using (Html.BeginForm("LogInUser", "Auth", FormMethod.Post))
    {
        @Html.TextBox("login", "", new { @type = "text", @placeholder = "введите логин" })
        @Html.TextBox("password", "", new { @type = "password", @placeholder = "введите пароль" })
        <input type="submit" value="Войти">
        <input type="submit" value="Выйти" href="@Url.Action("LogOutUser","Auth")">
    }
<table class="table-bordered">
    <thead>
        <tr>
            <th>Number @Html.ActionLink(" ", "OrderTasks", "Home", new { prop = "Id" }, new { @class= "glyphicon glyphicon-chevron-down", @onclick = "Click()", })</th>
            <th>Userid @Html.ActionLink(" ", "OrderTasks", "Home", new { prop = "UserId" }, new { @class = "glyphicon glyphicon-chevron-down" })</th>
            <th>Description @Html.ActionLink(" ", "OrderTasks", "Home", new { prop = "Description" }, new { @class = "glyphicon glyphicon-chevron-down" })</th>
            <th>Data @Html.ActionLink(" ", "OrderTasks", "Home", new { prop = "Data" }, new { @class = "glyphicon glyphicon-chevron-down" })</th>
            <th>Priority @Html.ActionLink(" ", "OrderTasks", "Home", new { prop = "Priority" }, new { @class = "glyphicon glyphicon-chevron-down" })</th>
            <th>Completed @Html.ActionLink(" ", "OrderTasks", "Home", new { prop = "IsCompleted" }, new { @class = "glyphicon glyphicon-chevron-down" })</th>
            <th></th>
          </tr>
    </thead>
    <tbody>
        @foreach (var t in ViewBag.Tasks)
        {
            <tr>
                <td>@t.Id</td>
                <td>@t.UserId</td>
                <td class="redact">
                    <span id="redacttd">@t.Description
                    <a style='float:right; visibility:hidden' class='changeable change-desc' href='#'>
                        <span class='glyphicon glyphicon-pencil'></span>
                    </a>
                    </span>
                    <input type="text" style='display:none' class="edit change-desc-input">
                </td>
                <td class="redact">@t.Data 
                    <a style='float:right; visibility:hidden' class='edit changeable change-data' href='#'>
                        <span class='glyphicon glyphicon-pencil'></span>
                    </a>
                </td>
                <td class="redact">@t.Priority 
                    <a style='float:right; visibility:hidden' class='edit changeable change-prior' href='#'>
                        <span class='glyphicon glyphicon-pencil'></span>
                    </a>
                </td>
                @if (t.IsComplete)
                {<td><input type="checkbox" checked="checked" onchange="TaskStatusChanged()"></td>}
                else
                {<td><input type="checkbox" onchange="TaskStatusChanged()" /></td>}
                <td>@Html.ActionLink(" ", "DeleteTask", "Home", new { id = @t.Id.ToString() }, new { @class = "glyphicon glyphicon-remove" })</td>
            </tr>
        }
    </tbody>
</table>
@using (Html.BeginForm("AddTask", "Home", FormMethod.Post))
{
    @Html.TextBox("description", "", new { @type = "text", @placeholder="Введите задание" })
    @Html.TextBox("data", "", new { @type = "datetime-local", @placeholder = "Введите дату" })
    @Html.TextBox("priority", "", new { @type = "number", @placeholder = "Введите приоритет" })
    <input type="submit" value="Добавить">
}
</div>