@{
    ViewBag.Title = "Tasks";
}
@section Header{
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p class="navbar-brand">Task-manager</p>
                </div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Профиль", "MoveToPage", "Home", new { page = "Home"} ,new { })</li>
                    <li>@Html.ActionLink("Задачи", "MoveToPage", "Home", new { page = "Tasks" }, new { })</li>
                    <li>@Html.ActionLink("О нас", "MoveToPage", "Home", new { page = "About" }, new { })</li>
                    <li>@Html.ActionLink("Контакты", "MoveToPage", "Home", new { page = "Contacts" }, new { })</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li data-toggle="modal" data-target="#myModal"><a href="#"><span class="glyphicon glyphicon-user"></span>Регистрация</a></li>
                    <li data-toggle="modal" data-target="#login_modal"><a href="#"><span class="glyphicon glyphicon-log-in"></span>Войти</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 col-lg-3">
            <img src="#" id="logo" alt="logo" />
        </div>
        <div class="col-md-6 col-sm-4 col-xs-12 col-lg-6">
            <h1>Менеджер задач</h1>
            <h3>Простой и удобный инструмент управления временем</h3>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 col-lg-3">
            
        </div>
            </div>
    </header>
}
@section Footer{
    <footer class="navbar-inverse">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 contact-info">
            Контакты: 98sancho@ukr.net 
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 copyright">
            © Александр Ярошенко | КА "ШАГ" 2016
        </div>
    </footer>
}
@{
    List<SelectListItem> priorityList = new List<SelectListItem>();
    priorityList.Add(new SelectListItem()
    {
        Text = "A",
        Value = "A",
        Selected = true
    });
    priorityList.Add(new SelectListItem()
    {
        Text = "B",
        Value = "B",
    });
    priorityList.Add(new SelectListItem()
    {
        Text = "C",
        Value = "C"
    });
    priorityList.Add(new SelectListItem()
    {
        Text = "D",
        Value = "D"
    });
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<section>
    <div id="container">
        <div id="table_header">
            Ваша таблица задач
        </div>
        <div class="row" id="table_navbar">
            <a href="#" onclick="SingleTableMode()"><span class="glyphicon glyphicon-align-justify"></span></a>
            <a href="#" onclick="MatrixMode()"><span class="glyphicon glyphicon-th-large"></span></a>
            <a href="#" onclick="CalendarMode()"><span class="glyphicon glyphicon-calendar"></span></a>
        </div>
        <div class="table-responsive">
                    @Html.Action("GetTaskInPartialView")
        </div>
        @using (Ajax.BeginForm("AddTask", "Task", new AjaxOptions { UpdateTargetId = "tablebody" }, new { }))
        {
            @Html.TextBox("description", "", new { @type = "text", @placeholder = "Введите задание" })
            @Html.TextBox("data", "", new { @type = "datetime-local", @placeholder = "Введите дату" })
            @Html.DropDownList("priority", priorityList, new { @placeholder = "Выберите приоритет" })
            @Html.TextBox("number", "", new { @type = "number", @placeholder = "Введите номер", @size = "2", @onchange = "NumberChanged()" })
            <input type="submit" value="Добавить">
        }
    </div>
</section>